﻿@model JobsFinder_Main.Models.ChungChiModel

@if (User.Identity.IsAuthenticated)
{
    <div id="formChungChi" class="p-4 form-profile">
        @using (Html.BeginForm("Create", "ChungChi", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h5 class="m-0">Certificate</h5>
                <hr class="my-3" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group mb-4">
                    <p class="label-title">Certificate name</p>
                    <div class="col-md-10" style="width: 100%;">
                        @Html.TextBoxFor(model => model.TenChungChi, new { @class = "form-control", @placeholder = "Certificate name" })
                        @Html.ValidationMessageFor(model => model.TenChungChi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-4">
                    <p class="label-title">Organization</p>
                    <div class="col-md-10" style="width: 100%;">
                        @Html.TextBoxFor(model => model.ToChuc, new { @class = "form-control", @placeholder = "Organization" })
                        @Html.ValidationMessageFor(model => model.ToChuc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <label class="mb-4">
                    <input type="checkbox" id="chungChiCheckbox" class="checkbox" />
                    The certificate does not have an expiration date.
                </label>

                <div class="d-flex flex-row justify-content-between">
                    <div id="kinhNghiemnBatDau" class="d-flex justify-content-between" style="width: 48%">
                        <div class="form-group mb-4">
                            <p class="label-title">Validity period</p>
                            <div class="col-md-10" style="width: 100%;">
                                @Html.DropDownListFor(model => model.ThangXacThuc, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Select month", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ThangXacThuc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <p class="label-title" style="opacity: 0;">Start year</p>
                            <div class="col-md-10" style="width: 100%;">
                                <div class="col-md-10" style="width: 100%;">
                                    @{
                                        int currentYear = DateTime.Now.Year;
                                        int startYear = currentYear - 100;
                                        List<SelectListItem> years = new List<SelectListItem>();
                                        for (int year = currentYear; year >= startYear; year--)
                                        {
                                            years.Add(new SelectListItem { Value = year.ToString(), Text = year.ToString() });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.NamXacThuc, years, "Select year", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NamXacThuc, "", new { @class = "text-danger" })
                                </div>

                                @Html.ValidationMessageFor(model => model.NamXacThuc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="kinhNghiemKetThuc" class="d-flex justify-content-between boxKetThuc" style="width: 48%">
                        <div class="form-group mb-4">
                            <p class="label-title">Expiration date</p>
                            <div class="col-md-10" style="width: 100%;">
                                @Html.DropDownListFor(model => model.ThangHetHan, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Select month", new { @class = "form-control thangKetThuc" })
                                @Html.ValidationMessageFor(model => model.ThangHetHan, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <p class="label-title" style="opacity: 0;">Finish year</p>
                            <div class="col-md-10" style="width: 100%;">
                                <div class="col-md-10" style="width: 100%;">
                                    @{
                                        for (int year = currentYear; year >= startYear; year--)
                                        {
                                            years.Add(new SelectListItem { Value = year.ToString(), Text = year.ToString() });
                                        }
                                    }
                                    @Html.DropDownListFor(model => model.NamHetHan, years, "Select year", new { @class = "form-control namKetThuc" })
                                    @Html.ValidationMessageFor(model => model.NamHetHan, "", new { @class = "text-danger" })
                                </div>

                                @Html.ValidationMessageFor(model => model.NamHetHan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <div class="col-md-offset-2 col-md-10 d-flex justify-content-center" style="width: 100%">
                        <input type="submit" value="Complete" class="btn btn-primary" style="border-radius: 4px;" />
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    { Html.RenderAction("Login", "User"); }
}