<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <div class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <img class="nav-logo" src="~/Assets/Client/JobsFinder/img/Logo.png" alt="JobsFinder">
        <div class="nav-text">
            <a href="/Home">Jobs</a>
            <a href="/Home">Nest</a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        @{ Html.RenderAction("MainMenu", "Home"); }
        @if (User.Identity.IsAuthenticated)
        {
            string userName = User.Identity.Name;
            string Avatar = "";
            string Name = "";

            using (var dbContext = new JobsFinder_Main.Identity.AppDbContext())
            {
                var user = dbContext.Users.FirstOrDefault(u => u.UserName == userName);
                if (user != null)
                {
                    Avatar = user.Avatar; 
                    Name = user.Name;
                }
            }
            <div class="navbar-nav d-flex nav-button align-items-center">
                <img class=" mx-2" src="@Avatar" style="width: 32px; height: 32px; border-radius: 16px; border: 1px solid #EEE;" />
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="text-transform: capitalize;">@Name</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <div class="item-drop d-flex align-items-center">
                            <i class="bi bi-person-check"></i>
                            @Html.ActionLink("Manage account", "Manager", "User")
                        </div>
                        <hr class="m-2">
                        <div class="item-drop d-flex align-items-center">
                            <i class="bi bi-heart"></i>
                            @Html.ActionLink("Favorite", "Favorite", "User")
                        </div>
                        <hr class="m-2">
                        <div class="item-drop d-flex align-items-center">
                            <i class="bi bi-door-closed"></i>
                            @Html.ActionLink("Logout", "Logout", "User")
                        </div>
                        <style>
                            .item-drop > a {
                                width: max-content;
                                font-size: 15px;
                                font-weight: 500;
                            }

                            .item-drop .bi {
                                font-size: 16px !important;
                                font-weight: 600;
                                padding: 4px;
                                margin-right: 8px;
                            }

                            .navbar .dropdown-menu {
                                left: -100px;
                            }
                        </style>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="navbar-nav d-flex nav-button">
                <a href="/login" class="btn btn-primary mx-2" style="height: 40px; width: 150px; border-radius: 4px;">Log in</a>
                <a href="/register" class="btn btn-secondary" style="height: 40px; width: 150px; border-radius: 4px;">Register</a>
            </div>
        }
    </div>
</nav>
<!-- Navbar End -->