@model JobsFinder_Main.Models.CompanyModel

@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            var finder = new CKFinder();
            e.preventDefault();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace("txtDescription", {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js',
        });
    </script>
}

@if (User.Identity.IsAuthenticated)
{
    <h5 class="mb-3">Create enterprise</h5>
    using (Html.BeginForm("CreateCompany", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p>Company name</p>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Profile picture</p>
                <div class="col-md-10">
                    <div class="d-flex align-items-center">
                        @Html.TextBoxFor(model => model.Avatar, new { @class = "form-control txtImage", @id = "txtAvatar" })
                        <a class="btnSelectAvatar" style="white-space: nowrap;" href="#">Upload image</a>
                    </div>

                    @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Cover photo</p>
                <div class="col-md-10">
                    <div class="d-flex align-items-center">
                        @Html.TextBoxFor(model => model.Background, new { @class = "form-control txtImage", @id = "txtBackground" })
                        <a class="btnSelectBackground" style="white-space: nowrap;" href="#">Upload image</a>
                    </div>

                    @Html.ValidationMessageFor(model => model.Background, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Website link</p>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.LinkPage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LinkPage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Number of employees</p>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Employees, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Employees, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Company location</p>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Company introduction</p>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "txtDescription" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Complete" class="btn btn-outline-primary" style="border-radius: 4px; font-size: 14px; font-weight: 500; text-transform: inherit;" />
                </div>
            </div>
        </div>
    }
    <style>
        .form-control {
            border-bottom: 1px solid #EEE !important;
            font-size: 16px;
        }

        .col-md-10 {
            width: 100%;
        }
    </style>
}
else
{
    { Html.RenderAction("Login", "User"); }
}