@model  JobsFinder_Main.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex" style="width: 100%; padding: 24px 0; border-radius: 5px; background-color: #FFF;">
    <div class="box-left" style="padding-left: 32px; padding-right: 100px;">
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            <div class="title">
                <h3>Welcome back!</h3>
                <p>Join our community and search for the job that fits you.</p>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p>Username</p>
                <div class="d-flex flex-row align-items-center box-input">
                    <i class="bi bi-person-fill"></i>
                    @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Enter username", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <p>Password</p>
                <div class="d-flex flex-row align-items-center box-input">
                    <i class="bi bi-lock-fill"></i>
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Enter password", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group text-center box-btn">
                <div class="col-12">
                    <button style="width: 100%; font-size: 14px;  font-weight: 500;" class="btn btn-primary btn-lg text-uppercase" type="submit">Login</button>
                </div>
            </div>
            <p style="width: 100%; text-align: center;">Or</p>
            <a href="/User/LoginFaceBook" class="btn btn-secondary" style="width: 100%;  font-size: 14px;  font-weight: 500; text-transform: capitalize;">Log in with Facebook</a>
            <div class="box-options">
                <div class="box-signup">
                    <p>You don't have an account yet?</p>
                    <a href="/register" class="nav-link">Register</a>
                </div>
                <a href="/forgot-password" class="nav-link">Forgot password</a>
            </div>
            <div class="box-support">
                <p>You're having difficulty creating an account?</p>
                <span>Please call (+84)-366748962 during office hours</span>
            </div>
            <div class="box-options">
                <div class="box-signup">
                    <p>If you want to login as a recruiter, click <a href="@Url.Action("Login_Recruiter", "User")">here</a>.</p>
                </div>
            </div>
        }
    </div>

    <div class="box-right">
        ﻿<div class="box-banner-login">
            <div class="bannerLogin-box-slick">
                <div class="mini-box d-flex justify-content-center align-items-center" style="flex-direction: column;">
                    <img src="~/Assets/Client/JobsFinder/img/Illustration.png" style="border-radius: 5px; margin: 32px 0; height: 360px; object-fit: cover;" />
                    <h3 style="font-size: 18px; font-weight: 600; color: #212f3f;">Free tool to create beautiful CVs</h3>
                    <p style="font-size: 14px; font-weight: 400; color: #212f3f; padding: 0 32px; text-align: center">Many beautiful CV templates, suitable for applying to various positions. Easily edit information, create CVs online quickly within 5 minutes</p>
                </div>
            </div>
        </div>
    </div>
</div>