@model PagedList.IPagedList<Model.EF.Blog>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start of banner -->
<div class="banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h1 class="mb-5">What Would You <br> Like To Read Today?</h1>
                <ul class="list-inline widget-list-inline">
                    @{
                        var categories = new Model.DAO.BlogCategoryDao().ListAll().ToList();
                    }
                    @foreach (var category in categories)
                    {
                        <li class="list-inline-item">
                            @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
                            {
                                <button type="submit" class="btn btn-link" value="@category.ID" name="fillterCategory">@category.Name</button>
                            }
                        </li>
                    }
                    }
                </ul>
            </div>
        </div>
    </div>

    <svg class="banner-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
              stroke-miterlimit="10" />
        <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
        <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
              stroke-miterlimit="10" />
    </svg>

    <svg class="banner-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d)">
            <path class="path"
                  d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
            <path d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
                  stroke="#040306" stroke-miterlimit="10" />
        </g>
        <defs>
            <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg>


    <svg class="banner-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
              stroke-miterlimit="10" />
        <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
        <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
              stroke-miterlimit="10" />
    </svg>


    <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
              stroke-width="2" />
    </svg>
</div>
<!-- end of banner -->

<section class="section-sm">
    <div class="container">
        <div class="row justify-content-center">
            <aside class="col-lg-4 sidebar">
                <!-- Search -->
                <div class="widget">
                    <h4 class="widget-title"><span>Search</span></h4>
                    @using (Html.BeginForm("Index", "Blog", FormMethod.Get, new { @class = "form-search" }))
                    {
                        <div class="box-input" style="border: none;">
                            <i class="bi bi-search m-0"></i>
                            <input type="text" placeholder="Keyword ..." aria-label="Search" aria-describedby="basic-addon2" name="searchName" value="@ViewBag.SearchName">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                    }
                </div>
                <!-- authors -->
                <div class="widget widget-author">
                    <h4 class="widget-title">Authors</h4>
                    <div class="media align-items-center">
                        <div class="mr-3">
                            <img class="widget-author-image" src="/Data/images/admin.jpg">
                        </div>
                        <div class="media-body">
                            <h5 class="mb-1"><a class="post-title" href="#">Admin System</a></h5>
                            <span>Blogs's Author</span>
                        </div>
                    </div>
                </div>
                <!-- Search -->

                <div class="widget">
                    <h4 class="widget-title"><span>Never Miss A News</span></h4>
                    <form action="#!" method="post" name="mc-embedded-subscribe-form" target="_blank"
                          class="widget-search">
                        <input class="mb-3" id="search-query" name="s" type="search" placeholder="Your Email Address">
                        <i class="ti-email"></i>
                        <button type="submit" class="btn btn-primary btn-block" name="subscribe">Subscribe now</button>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
                        </div>
                    </form>
                </div>
                @*<div class="widget">
                    <h4 class="widget-title">Trends Post</h4>

                    <!-- post-item -->
                    <article class="widget-card">
                        <div class="d-flex">
                            <img class="card-img-sm" src="~/Assets/Client/Blog/images/post/post-10.jpg">
                            <div class="ml-3">
                                <h5><a class="post-title" href="post/elements/">Elements That You Can Use In This Template.</a></h5>
                                <ul class="card-meta list-inline mb-0">
                                    <li class="list-inline-item mb-0">
                                        <i class="ti-calendar"></i>15 jan, 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="widget-card">
                        <div class="d-flex">
                            <img class="card-img-sm" src="~/Assets/Client/Blog/images/post/post-3.jpg">
                            <div class="ml-3">
                                <h5><a class="post-title" href="post-details.html">Advice From a Twenty Something</a></h5>
                                <ul class="card-meta list-inline mb-0">
                                    <li class="list-inline-item mb-0">
                                        <i class="ti-calendar"></i>14 jan, 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="widget-card">
                        <div class="d-flex">
                            <img class="card-img-sm" src="~/Assets/Client/Blog/images/post/post-7.jpg">
                            <div class="ml-3">
                                <h5><a class="post-title" href="post-details.html">Advice From a Twenty Something</a></h5>
                                <ul class="card-meta list-inline mb-0">
                                    <li class="list-inline-item mb-0">
                                        <i class="ti-calendar"></i>14 jan, 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>*@

                <!-- Social -->
                <div class="widget">
                    <h4 class="widget-title"><span>Social Links</span></h4>
                    <ul class="list-inline widget-social">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-youtube"></i></a></li>
                    </ul>
                </div>
            </aside>
            <div class="col-lg-8  mb-5 mb-lg-0">
                <h2 class="h5 section-title">Recent Post</h2>
                @foreach (var blog in Model)
                {
                    @Html.Partial("_BlogItem", blog)
                }
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchName = @ViewBag.SearchName, @fillterCategory = @ViewBag.FillterCategory }))
                <style>
                    .pagination {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 5rem;
                        margin: 3rem;
                        border-radius: 0.6rem;
                        background: #ffffff;
                        box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
                    }

                        .pagination li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 8px;
                            font-size: 14px;
                            cursor: pointer;
                            padding: 4px 8px !important;
                            border-radius: 8px;
                            font-weight: 700;
                            border-radius: 0.4rem;
                        }

                            .pagination li:hover a {
                                color: #4CA6A8;
                            }

                        .pagination .active {
                            color: #ffffff;
                            background: #4CA6A8;
                            font-weight: 600;
                            border: 1px solid #4CA6A8;
                        }

                        .pagination .PagedList-skipToPrevious, .pagination .PagedList-skipToNext {
                            color: #2B9BFF;
                            pointer-events: none;
                            font-size: 20px;
                        }
                </style>
            </div>
        </div>
    </div>
</section>